.blue {
  color: #03abea; }

.green {
  color: #94c641; }

html {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0 0 30px 0;
  position: relative;
  min-height: calc(100vh - 30px); }

h1 {
  color: #333;
  font-size: 50px;
  font-family: "Oswald","Lato", sans-serif;
  font-weight: 700; }

h2 {
  font-size: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #333;
  font-weight: 500; }

p {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #666; }

.header {
  background-color: #94c641;
  height: 40px;
  text-align: center; }
  .header a {
    display: inline-block;
    text-decoration: none;
    color: white; }
  .header h4 {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    margin: 0;
    font-weight: 700;
    line-height: 40px; }
  .header i {
    font-size: 14px; }
  @media only screen and (min-width: 1026px) {
    .header {
      padding: 0 20vw;
      text-align: right; }
      .header h4 {
        text-align: right; } }

.btn {
  margin-left: 15px;
  background: #03abea;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  transition: all .2s ease-out; }

.footer {
  height: auto;
  width: 100vw;
  background-color: #181818;
  padding: 10px 3px;
  position: absolute;
  bottom: 0; }
  .footer p {
    font-size: 12px;
    color: #666;
    margin: 0;
    text-align: center; }
  .footer a {
    text-decoration: none; }

.logo {
  width: 60vw;
  margin: 5px 20vw; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .logo {
      width: 40vw;
      margin: 5px 30vw; } }
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    .logo {
      width: 40vw;
      margin: 5px 30vw; } }
  @media only screen and (min-width: 1026px) {
    .logo {
      width: 20vw;
      margin: 15px 60vw 15px 20vw; } }

.logo-div {
  width: 100vw;
  margin: 0 auto; }

.cognito-form {
  padding-top: 30px; }

.form-div {
  margin: 60px 60px; }

.unsubscribe {
  padding: 30px 15px;
  margin: 0 auto; }

.owner-message {
  width: 80vw;
  margin: 0 auto; }
  .owner-message h2 {
    text-align: center; }
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    .owner-message {
      padding-top: 60px; }
      .owner-message h2 {
        font-size: 36px; }
      .owner-message p {
        font-size: 16px; } }
  @media only screen and (min-width: 1026px) {
    .owner-message {
      width: 60vw; } }

.social-icon {
  width: 15vw;
  padding: 5vw 42.5vw;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    .social-icon {
      width: 10vw;
      padding: 5vw 45vw; } }
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    .social-icon {
      position: absolute;
      width: 100px;
      padding: 30px; } }
  @media only screen and (min-width: 1026px) {
    .social-icon {
      position: absolute;
      width: 100px;
      padding: 30px; } }

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .right-div {
    width: 50vw;
    float: right;
    position: relative; }
    .right-div .social-icon {
      position: absolute;
      left: 0; } }
@media only screen and (min-width: 1026px) {
  .right-div {
    width: 50vw;
    float: right;
    position: relative; }
    .right-div .social-icon {
      position: absolute;
      left: 0; } }

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .left-div {
    width: 50vw;
    position: relative; }
    .left-div .social-icon {
      position: absolute;
      right: 0; } }
@media only screen and (min-width: 1026px) {
  .left-div {
    width: 50vw;
    position: relative; }
    .left-div .social-icon {
      position: absolute;
      right: 0; } }

.yellow-star {
  color: #FBBC03; }
  .yellow-star i {
    padding: 0 1px; }

.centered-div {
  width: auto;
  margin: 0 auto;
  margin-top: -54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .centered-div h2 {
    text-align: center; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .centered-div {
      margin-top: 0; } }
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    .centered-div h2 {
      font-size: 36px; } }

.center {
  text-align: center; }

.full-width {
  width: 100%; }

.thumb-icon {
  padding: 15px 50px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .thumb-icon {
      padding: 0 30px; }
      .thumb-icon i {
        font-size: 60px; } }
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    .thumb-icon {
      padding: 15px 40px; }
      .thumb-icon i {
        font-size: 80px; } }

.thumb-icon-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .thumb-icon-box h1 {
      margin: 0; } }

.parent-flex-div {
  min-height: calc(100vh - 132px);
  max-height: calc(100vh - 132px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }

.show {
  display: unset; }

.hidden {
  display: none;
  max-height: 0; }

img {
  padding: 0;
  margin: 0; }

a {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=app.css.map */
