// flexbox mixins

@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
@content;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
      -ms-flex: $values;
          flex: $values;
@content;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -moz-flex-direction: $direction;
   -ms-flex-direction: $direction;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
          flex-direction: $direction;
@content;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
      flex-wrap: $wrap;
@content;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -ms-flex-flow: $flow;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          flex-flow: $flow;
@content;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
         -ms-flex-order: $val;
            order: $val;
@content;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -moz-flex-grow: $grow;
   -ms-flex-grow: $grow;
       -webkit-box-flex: $grow;
           -ms-flex-positive: $grow;
          flex-grow: $grow;
@content;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -ms-flex-shrink: $shrink;
      -ms-flex-negative: $shrink;
      flex-shrink: $shrink;
@content;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -ms-flex-basis: $width;
      -ms-flex-preferred-size: $width;
      flex-basis: $width;
@content;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -moz-justify-content: $justify;
   -ms-justify-content: $justify;
       -webkit-box-pack: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
@content;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -ms-align-content: $align;
      -ms-flex-line-pack: $align;
      align-content: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -moz-align-items: $align;
   -ms-align-items: $align;
       -webkit-box-align: $align;
           -ms-flex-align: $align;
          align-items: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          -ms-flex-item-align: $align;
      -ms-grid-row-align: $align;
      align-self: $align;
  @content;
}

//RESPONSIVE DESIGN MIXINS ------------------------

@mixin xs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

//smartphones, small tablets, landscape iPhone
@mixin sm {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin  landscape {
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    @content;
  }
}

//portrait tablets
@mixin md {
  @media only screen and (min-width: 641px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    @content;
  }
}

//landscape iPad, low res laptops and desktops
@mixin ipad-landscape {
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    @content;
  }
}

//big landscape tablets, laptops, desktops
@mixin xl {
  @media only screen and (min-width: 1026px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1281px) {
    @content;
  }
}

// site colors
.blue {
  color: #03abea
}

.green {
  color: #94c641
}


// site-font
html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0 0 30px 0;
  position: relative;
  min-height: calc(100vh - 30px);
}

h1 {
  color: #333;
  font-size: 50px;
  font-family: "Oswald","Lato", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #333;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #666
}

.header {
  background-color: #94c641;
  height: 40px;
}

.header-text {
  h4 {
    color: white;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin: 0;
    font-weight: 700;
    line-height: 40px;
  }
  i {
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.footer {
  height: auto;
  width: 100vw;
  background-color: #181818;
  padding: 3px 0;
  position: absolute;
  bottom: 0;
  p {
    font-size: 12px;
    color: #666;
    margin: 0;
    text-align: center;
  }

}

.logo {
  width: 60vw;
  margin: 5px 20vw;
}

.logo-div {
  width: 100vw;
  margin: 0 auto;
  // @include flexbox() {

  // }
  // @include justify-content(center) {
  // }
}

// Form section

.cognito {
  padding-top: 30px;
}

// Review Section

.owner-message {
  width: 80vw;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.social-icon {
  width: 20vw;
  padding: 5vw 40vw;
  margin: 0 auto;
}

.yellow-star {
  color: #FBBC03;
  i {
  padding: 0 1px;
  }
}
// Initial User Interaction

.centered-div {
  width: auto;
  margin: 0 auto;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }

  h2 {
    text-align: center;
  }
}

.center {
  text-align: center;
}


.full-width {
  width: 100%;
}

.thumb-icon {
  padding: 15px 50px;
}

.thumb-icon-box {
  width: 100%;
  @include flexbox() {
  }
  @include justify-content(center) {
  }
}

.parent-flex-div {
  min-height: calc(100vh - 132px);
  max-height: calc(100vh - 132px);

   @include flexbox() {
  }
  align-items: center;
}

.show {
  display: unset;
}

.hidden {
  display: none;
  max-height: 0;
}

img {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
}




